@*@model IEnumerable<Person>*@
@using HelperMethods.Models
@model string 

@{
    ViewBag.Title = "GetPeople";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        Confirm = "Do we proceed?",
        LoadingElementId = "loading",
        LoadingElementDuration = 5000,
        //Url ="https://thedogsalon.com/",
        Url = Url.Action("GetPeopleData"),
        UpdateTargetId = "tableBody"
    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<title>A synchronous form</title>*@
    <title>Ajax form</title>
</head>
<body>
    @*<h2>A synchronous form</h2>*@
    <h2 id="ajax_form">Ajax form</h2>
    <div id="loading" >
        <p>Loading data....</p>
    </div>  
    <table>
        <thead><tr><th>First</th><th>Last</th><th>Role</th></tr></thead>
        <tbody id="tableBody">
            @*Partial view rendered here GetPeopleData*@
            @Html.Action("GetPeopleData", new { selectedRole = Model })

            @*@foreach (Person p in Model)
                {
                    <tr>
                        <td>@p.FirstName</td>
                        <td>@p.LastName</td>
                        <td>@p.Role</td>
                    </tr>
                }*@
        </tbody>
    </table>

    @*@using (Html.BeginForm())*@
    @using (Ajax.BeginForm("GetPeopleData", ajaxOptions))
    {
        <div>
            @Html.DropDownList("selectedRole", new SelectList(
            new[] { "All" }.Concat(Enum.GetNames(typeof(Role)))
            ))
            <button type="submit">Submit</button>
        </div>
    }

<div>
    @foreach (string role in Enum.GetNames(typeof(Role)))
    {
    <div class="ajaxLink">
        @Ajax.ActionLink(role, "GetPeopleData", new { selectedRole = role}, new AjaxOptions { UpdateTargetId = "loading" })
    </div>
    }
</div>

</body>
</html>

@*<form action="/People/GetPeopleData" data-ajax="true" data-ajax-confirm="Do we proceed?" data-ajax-loading="#ajax_form" data-ajax-loading-duration="5000" data-ajax-mode="replace" data-ajax-update="#tableBody" data-ajax-url="https://thedogsalon.com/" id="form0" method="post">*@
