@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Basic Links & URLs</title>
</head>
<body>
    <h2>Basic Links & URLs</h2>
    <table>
        <thead><tr><th>Helper</th><th>Output</th></tr></thead>
        <tbody>
            <tr>
                <td>Url.Content("~/Content/Site.css")</td>
                <td>@Url.Content("~/Content/Site.css")</td>
            </tr>
            <tr>
                <td>Url.Action("GetPeople", "People")</td>
                <td>@Url.Action("GetPeople", "People")</td>
            </tr>
            <tr>
                <td>Url.RouteUrl(new { action = "GetPeople", controller = "People"})</td>
                <td>@Url.RouteUrl(new { action = "GetPeople", controller = "People" })</td>
            </tr>
            <tr>
                <td>Html.ActionLink("My Link", "Index", "Home")</td>
                <td>@Html.ActionLink("My Link", "Index", "Home")</td>
            </tr>
            <tr>
                <td>Html.RouteLink("My Link", new {action = "Index", controller = "Home"})</td>
                <td>@Html.RouteLink("My Link", new {action = "Index", controller = "Home"})</td>
            </tr>
        </tbody>
    </table>
    <div>
    
    </div>
</body>
</html>
