@model string
@using HelperMethods.Infrastructure

@{
    ViewBag.Title = "Index";
    Layout = null;
}


@helper ListArrayItems(string[] items)
    {
foreach(string i in items)
{
        <b>@i</b>
}
    }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @*<div>
            <div>
                Fruit:
                @foreach (string str in ViewBag.Fruit)
                {
                    <b>@str</b>
                }
            </div>
            <div>
                Cities:
                @foreach (string str in ViewBag.Cities)
                {
                    <b>@str</b>
                }
            </div>

            <div>My model message is @Model</div>
        </div>*@


    @*using inline helper method!*@
    @*<div>
        <div>
            Fruit: @ListArrayItems(ViewBag.Fruit)

        </div>
        <div>
            Cities:  @ListArrayItems(ViewBag.Cities)

        </div>

        <div>My model message is @Model</div>
    </div>*@


    @*using external helper method!*@
    <div>
        <div>
            @*@Html  gets htmlhelper method to render html elements*@
            @*cast needed from dynamic type to the one defined in the helper method*@
            Fruit: @Html.ListArrayItems((string[]) ViewBag.Fruit)

        </div>
        <div>
            Cities:  @Html.ListArrayItems((string[])  ViewBag.Cities)

        </div>

        <div>My model message is @Model</div>
    </div>
</body>
</html>
